.newsListItem {
    color: #213399;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    font-size: 14px;
}

.newsListItem a {
    color: #213399;
    font-weight: 400;
}

.newsListWrapper {
    opacity: 0;
    transform: translateX(-100%);
}

.newsListWrapperEnter {
    opacity: 1;
    transform: translateX(0%);
    transition: all 500ms ease-out;
}

.flex_wrapper {
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    background: #fff;
}

.left {
    background-size: cover !important;
}

.left div {
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-positin: center center !important;
}

.right {
    flex-grow: 1;
    padding: 10px;
}

.flex_wrapper h2 {
    font-size: 12px;
    color: #525252;
}